<div class="post">
  <div class="user-block">
    <%= image_tag "user2-160x160.jpg", alt: "User profile picture", class: "img-circle img-bordered-sm" %>
    <span class="username">
      <%= link_to event.name, event_path(event.id) %>
      <% if joined_events.exists?(event.id) %>
        <%= button_to 'Leave Event', event_user_path(event_id: event.id, id: current_user.id), class: 'btn btn-danger float-right', method: :delete, remote: true %>
      <% elsif event.available_slots.positive? %>
        <%= button_to 'Join Event', event_users_path(event_id: event.id), class: 'btn btn-primary float-right', method: 'post' %>
      <% end %>
    </span>
    <span class="description">Created - <%= event.created_at.strftime('%I:%M %p %A') %></span>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="info-box <%= event.available_slots.positive? ? 'bg-light' : 'bg-warning' %>">
        <div class="info-box-content">
          <span class="info-box-text text-center text-muted">Available Slots</span>
          <span class="info-box-number text-center text-muted mb-0"><%= event.available_slots %></span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="info-box bg-light">
        <div class="info-box-content">
          <span class="info-box-text text-center text-muted">Booked Slots</span>
          <span class="info-box-number text-center text-muted mb-0"><%= event.booked_slots %></span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="info-box bg-light">
        <div class="info-box-content">
          <span class="info-box-text text-center text-muted">Total Slots</span>
          <span class="info-box-number text-center text-muted mb-0"><%= event.total_slots %></span>
        </div>
      </div>
    </div>
  </div>
  <p><%= event.description %></p>
</div>
